# config file for your Ludobox

ludobox_name : "My LudoBox"
port: 8080 # the port to serve the interface (default to 8080)

# The source of your games
web_server_url : https://ludobox.net

# Directory to store all downloaded data -- default to ./data
# data_dir : /home/$USER/ludobox/data

# enable/disable creation of new games on the box
upload_allowed : true

# where users will be stored
database_uri : "sqlite:////tmp/ludobox.db"

# max file size (en Mo)
max_file_size : 20
