</div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JavaScript (in the footer for performance reasons)
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<!-- Any change in the javascript should be done in this file -->
<script type="text/javascript" src="/static/customisation/ludodynamic.js"></script>

</body>
</html>
