</div> <!-- /container -->
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<!-- JavaScript (in the footer for performance reasons)
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- JQuery -->
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- DataTables JQuery Plugin -->
<script type="text/javascript" src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<!-- Datatables Bootstrap theming integration -->
<script type="text/javascript" src="/static/bower_components/datatables/media/js/dataTables.bootstrap.min.js"></script>
<!-- CUSTOM JAVASCRIPT
Any change in the javascript should be done in this file -->
<script type="text/javascript" src="/static/customisation/ludodynamic.js"></script>

</body>
</html>
