{% include "partials/head.html" %}
<body>
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="/">Ludobox</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/games">Games</a></li>
        <li class="navbar-item">
          <a class="navbar-link" href="/create">Add a new game</a>
        </li>
        <li class="navbar-item"><a class="navbar-link" href="/about">About</a></li>
      </ul>
    </div>
  </nav>
