/*@import url("Select.css");*/

@font-face {
  font-family: 'Calibre-LightWeb';
  src: url('/fonts/calibreLight/Calibre-Light.eot?#iefix') format('embedded-opentype'),
       url('/fonts/calibreLight/Calibre-Light.otf')  format('opentype'),
	     url('/fonts/calibreLight/Calibre-Light.woff') format('woff'),
       url('/fonts/calibreLight/Calibre-Light.ttf')  format('truetype'), url('/fonts/calibreLight/Calibre-Light.svg#Calibre-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YanoneKaffeesatz';
  src: url('/fonts/yanonekaffeesatz/YanoneKaffeesatz-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  top:0;
  font-family: 'Calibre-LightWeb', sans;
  font-size: 16px;
}

a{
  word-wrap: break-word;
  text-decoration: none;
}

.external:after, a[href^="http"]:after {
     content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}


.label {
  font-weight: 600;
  padding-right: 1em
}


.navbar + .docs-section {
    border-top-width: 0;
}


/*Hide the useless title */
[id^="root__"] {
  display :none
}

.addGameForm .form-group {
  width: 100%
}

textarea, input, select  {
  width : 100%;
}

input[type="checkbox"] {
  width: auto
}

.form-group:nth-child(2n) {
  break-before: always;
  display: inline-block;
}

.checkbox-inline input {
  width : auto;
}

.rjsf > div > fieldset > div > fieldset > legend  {
  margin: 1.5em 0 1em 0;
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  width : 100%;
  font-weight: normal;
}

.btn-add > i, .array-item-move-down > i, .array-item-move-up >i {
  display: none;
}

.array-item-move-down:after { content: "▼"; }
.array-item-move-up:after { content: "▲"; }
.btn-add::after { content: "+"; }

.array-item div {
  display: inline-block;
}
.array-item-toolbox {
  margin-left: .5em;
  width: 7em;
}
.btn.array-item-remove > i {
  display: none;
}
.btn.array-item-remove:after {
  content: "-";
}

.error-detail, .errors {
  color : red
}

.form-menu-item {
  border: 2px solid #e0e0e0;
}

.form-menu-item:hover {
  color : #333;
  border-color : #333;
}

img {
  max-width: 100%
}


.action-buttons .button {
  margin-left: 5px;
}

.icon > svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.username {
  margin-left: 1em;
  font-size: 1.1em;
}
