{% set active_nav = "about" %}
{% include "partials/header.html" %}

<div class="container">
    <div class="page-header">
        <h1>About the Ludobox</h1>
    </div>

    <h2>About the Ludobox project</h2>

    <p>
    	Inspired by Piratebox and Bibliobox initiatives using wifi routeurs to create DIY local offline libraries, Ludobox is a fork that attempts to merge free digital content with the social and physical practice of gaming.
    </p>

    <p>
    	We have seen music, films, books entering the era of reproducibility, and so does board game. Ludobox is a curated library of free licensed games, all accessible in digital formats (from a cards game in pdf to 3D checkers in stl files), commonly known as Print'n Play games. Related resources (open furniture, floss manuals, essays on game culture, etc) complete the collection as a way to question the future of toys libraries.
    </p>

    <h2>Thanks</h2>

    <p>
        This adventure would never happened without the resources available of the existing initiatives PirateBox and LibraryBox, the Research&Development Grant from European Cultural Foundation and of course the enthusiasm, curiosity & participation of gamers, makers, artists, librarians, designers & local partners here and there.
    </p>

    <h2>Privacy</h2>

    <p>
        Ludobox is designed to be safe and secure. No logins are required and no user data is logged. The system is purposely not connected to the Internet in order to prevent tracking and preserve user privacy.

 <h2>Licensing</h2>

    <p>
        Ludobox is licensed under AGPLv3.
    </p>
</div>
{% include "partials/footer.html" %}
