{% set active_nav = "about" %}
{% include "partials/header.html" %}
    <div class="page-header">
        <h1>À propos de la Ludobox</h1>
    </div>

    <h2>À propos de la Ludobox 1.0</h2>

    <p>
        Inspirée par les intiatives de réseaux offline tels que la <strong>Piratebox</strong> ou la <strong>LibraryBox</strong> qui utilisent des logiciels libres pour créer des réseaux sans fil et anonymes de partage de fichiers, l'association <strong>Dcalk</strong> a souhaité lancer une nouvelle déclinaison sous le nom de <strong>Ludobox</strong> afin de faire émerger un réseau de <strong>ludothèques numériques</strong> pour une nouvelle cartographie et pratique sociale du jeu.
    </p>

    <p>
        À l'instar du livre et de la musique, le jeu de société est entré dans l'ère de la reproductibilité et de la diffusion en réseau. Des créateurs de plus en plus nombreux choisissent de publier leurs jeux sous licence libre au format <strong>Print-and-Play</strong> et créent des <strong>prototypes</strong> ou des pions de remplacement à l'aide de l'<strong>impression 3D</strong> et autres pratiques d'<strong>artisanat numérique</strong>. La Ludobox souhaite ainsi croiser les pratiques ludiques avec les outils, méthodologies et valeurs propres à la <strong>culture libre</strong> (licence, copie, partage, réseau) pour explorer et accompagner ces nouveaux processus de création, d'édition, de diffusion et de médiation dans le domaine du jeu de société.
    </p>

    <h2>Merci</h2>

    <p>
        Ce projet fou de ludothèque numérique n'aurait jamais vu le jour sans l'inspiration d'initiatives existantes (Piratebox depuis 2011, Librarybox en 2012), la bourse <abbr title="Recherche et Développement" class="initialism">R&amp;D</abbr> de la Fondation Européenne de la Culture (lauréat 2015) et bien sûr la curiosité, la confiance et l'engouement de partenaires et des afficionados du jeu et de la geekerie.
    </p>

    <h2>Vie Privée</h2>

    <p>
        La Ludobox est un réseau sécurisé. Aucun login ne vous sera demandé et aucunes données concernant les usagers ne sont enregistrées . Ce dispositif n'est pas connecté à internet pour vous préserver du tracking et protéger vos données.
    </p>
{% include "partials/footer.html" %}
