{% include "partials/header.html" %}
<div class="container">
  <h3>Add a New Game</h3>

  <form role="form" class="row" action="/addgame" method="post" enctype="multipart/form-data">
    <div id="form"></div>

    <input class="button-primary" type="submit" value="Submit">
  </form>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js" charset="utf-8"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js" charset="utf-8"></script>

<script src="https://unpkg.com/react-jsonschema-form/dist/react-jsonschema-form.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>

<script type="text/babel">

  var Form = JSONSchemaForm.default;

  // get data
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/api/schema');
  xhr.onload = function() {
      if (xhr.status === 200) {
          var schema = JSON.parse(xhr.responseText);
          createForm(schema)

      }
      else {
          throw('Request failed.  Returned status of ' + xhr.status);
      }
  };
  xhr.send();

  function createForm(schema) {
    console.log(schema)

    const log = (type) => console.log.bind(console, type);

    ReactDOM.render(
      (<Form schema={schema}
            onChange={log("changed")}
            onSubmit={log("submitted")}
            onError={log("errors")} />
        ), document.getElementById("form"));

    // var BrutusinForms = brutusin["json-forms"];
    // var bf = BrutusinForms.create(schema);
    //
    // var container = document.getElementById('form');
    // var data = {}
    // bf.render(container, data);
  }
</script>
{% include "partials/footer.html" %}
