{% include "partials/header.html" %}


<div class="container" id="games">


  <div class="row" style="margin : 3%">
      <div class="eight columns">
        <h3>Download games</h3>
      </div>
      <div class="four columns">
          <form>
              <input class="search" type="search" id="searchGames" placeholder="Search" />
          </form>
      </div>
  </div>
  <div class="row">
      <div>
          <table class="twelve columns">
              <thead>
                  <tr>
                      <td>Title</td>
                      <td>Download</td>
                  </tr>
              </thead>
              <tbody id="gamesList">
              </tbody>
          </table>
      </div>
  </div>
</div>

<script>

  var remote_server_url = "{{remote_server_url}}";
  console.log("hello Ludobox :"+remote_server_url+"!")

  // get data
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/api/index.json');
  xhr.onload = function() {
      if (xhr.status === 200) {
          var games = JSON.parse(xhr.responseText);
          parseGamesIndex(games)
      }
      else {
          throw('Request failed.  Returned status of ' + xhr.status);
      }
  };
  xhr.send();

  function parseGamesIndex(games) {
    console.log(games);

    var tbody = document.getElementById('gamesList');

    var trs = games.forEach( function(game) {

      var tr = document.createElement("tr")

      // add title
      var title = document.createElement("td")
      title.innerHTML = "<a href='"+remote_server_url+"/games/" + game.slug+ "'>"+game.title.fr+"</a>";
      tr.appendChild(title);


      // link to download
      var downloadLink = document.createElement("td")
      downloadLink.innerHTML = "<a class='external' href='/api/download/" + game.slug+ "'>Download</a>";
      tr.appendChild(downloadLink);

      tbody.appendChild(tr)
    })

  }

  function getTd(text, cssClass){
    var td = document.createElement("td")
    td.innerHTML = text
    td.className = cssClass
    return td
  }

</script>

{% include "partials/footer.html" %}
