{% set active_nav = "games" %}
{% include "partials/header.html" %}
    <div class="page-header">
        <h1>Liste des jeux</h1>
    </div>

    <table id="gamestab" class="display" cellspacing="0" width="100%">
        <caption>Jeux disponibles au téléchargement</caption>
        <thead>
            <tr>
                <td>Titre</td>
                <td>Lien</td>
                <td>Type</td>
                <td>Thèmes</td>
                <td>Temps de fabrication</td>
                <td>Nombre de joueurs</td>
                <td>Langues disponibles</td>
            </tr>
        </thead>
        <tbody class="list">
            {% for game in games %}
            <tr>
                <td class="title">{{ game.title.fr }}</td>
                <td class="link"><a href="/static/games/{{ game.slug }}/index.html">{{ game.title.fr }}</a></td>
                <td class="type">{{ game.type }}</td>
                <td class="themes">{{ game.themes.fr|join(', ') }}</td>
                <td class="fab_time"> {{game.fab_time}} </td>
                <td class="players"> {{game.players}} </td>
                <td class="languages"> {{game.languages|join(', ')}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include "partials/footer.html" %}
