{% include "partials/header.html" %}
    <div class="page-header">
        <h1>{{data.title}}</h1>
    </div>

    <dl class="dl-horizontal">
        <dt>timestamp</dt><dd>{{data.timestamp}}</dd>
        <dt>title</dt><dd>{{data.title}}</dd>
        <dt>description</dt><dd>{{data.description}}</dd>
        <dt>fab_time</dt><dd>{{data.fab_time}}</dd>
        <dt>requirements</dt><dd>{{data.requirements}}</dd>
        <dt>players</dt><dd>{{data.players}}</dd>
        <dt>duration</dt><dd>{{data.duration}}</dd>
        <dt>audience</dt><dd>{{data.audience}}</dd>
        <dt>authours</dt><dd>{{data.authours}}</dd>
        <dt>illustrators</dt><dd>{{data.illustrators}}</dd>
        <dt>source</dt><dd>{{data.source}}</dd>
        <dt>license</dt><dd>{{data.license}}</dd>
        <dt>languages</dt><dd>{{data.languages}}</dd>
        <dt>themes</dt><dd>{{data.themes}}</dd>
        <dt>type</dt><dd>{{data.type}}</dd>
    </dl>

    <a class="btn btn-primary" href="download">Télécharger</a>
{% include "partials/footer.html" %}
