{% include "partials/header.html" %}

<div class="container">
  <h1 id="game-title" style="margin-top:5%"></h1>
</div>
<script>

  var slug = window.location.pathname.split("/games/")[1]

  // get data
  var xhr = new XMLHttpRequest();
  xhr.open('GET', '/api/'+slug+'/info.json');
  xhr.onload = function() {
      if (xhr.status === 200) {
          var game = JSON.parse(xhr.responseText);
          document.getElementById("game-title").innerHTML = game.title.fr;
      }
      else {
          throw('Request failed.  Returned status of ' + xhr.status);
      }
  };
  xhr.send();
</script>
{% include "partials/footer.html" %}
