//
// Burger menu custom styles
//
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  left: 16px;
  top: 36px;
}

.right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #221F3C;
}

.bm-morph-shape {
  fill: #FFFFFF;
}

.bm-menu {
  background: #221F3C;

  a {
    color: #F5DC00;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #c94e50;
    }
  }
}

.bm-item-list a {
  padding: 0.8em;

  // span {
  //   margin-left: 10px;
  //   font-weight: 700;
  // }
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
